modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 23216
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_PROJECT_ID = "47299c20-5e8a-4485-88e5-01aa6b5403f9"
EXPO_PUBLIC_REMOVAL_AI_API_KEY = "803163F1-2C25-42B9-EA22-85CBEC53BCBE"
EXPO_PUBLIC_APPSFLYER_DEV_KEY = "zFfy5ZSXJYqYqg83YTCPED"
EXPO_PUBLIC_TIKTOK_APP_ID = "7630509545810411528"
EXPO_PUBLIC_TIKTOK_ACCESS_TOKEN = "TTkYl8QLJePFiBqwqApzDY2B50fU5TFk"
